<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:app="http://schemas.android.com/apk/res-auto"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dm.sam">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/ic_logo_sam"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_logo_sam"
            android:supportsRtl="true"
            android:theme="@style/Theme.SaM"
            tools:targetApi="31">
        <activity
                android:name=".SitesByCategorieActivity"
                android:exported="false"/>
        <activity
                android:name=".activity.SplashActivity"
                android:exported="true"
                android:theme="@style/Theme.SaM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.AddSiteActivity"
                android:exported="false"
                android:theme="@style/Theme.SaM.NoActionBar"/>
        <activity
                android:name=".activity.AddCategorieActivity"
                android:exported="false"
                android:theme="@style/Theme.SaM.NoActionBar"/>
        <activity
                android:name=".activity.TabbedListsActivity"
                android:exported="false"
                android:label="@string/title_activity_tabbes_lists"
                android:theme="@style/Theme.SaM.NoActionBar"/>
        <activity
                android:name=".activity.PermissionsActivity"
                android:exported="true"
                android:theme="@style/Theme.SaM.NoActionBar"/>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${MAPS_API_KEY}"/>

        <activity
                android:name=".activity.CarteActivity"
                android:exported="true"
                android:label="@string/title_activity_carte"
                android:theme="@style/Theme.SaM.NoActionBar">
        </activity>
    </application>

</manifest>